div.footer {
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
    > div.container {
        > div.row {
            > div {
                > div {
                    div.facebook {
                        a {

                        }
                    }
                    div.twitter {
                        a {

                        }
                    }
                    div.instagram {
                        a {

                        }
                    }
                }
            }
        }
    }
}   
   
   
   
