<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"> <!-- font awesome -->
    <link rel="stylesheet" href="css/vendors/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">


<body>

    <div class="canvas">
    
        <nav class="py-5 navbar navbar-expand-md nav">
            <div class="container">
                <a class="navbar-brand" href="#">Leticia Nakano</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projetos">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sobre">Sobre mim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contato">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="py-5 text-black content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 text-lg-left text-center align-self-center my-5 texto">
                        <h1 class="display-3">Artista educadora</h1>
                        <p class="lead">Formada em licenciatura e bacharelado em Artes Visuais na Faculdade Pública UNESP. Criadora do canal "Inventário da sobrevivência no Youtube. Atualmente professora de inglês e ciclista nas horas vagas."</p>
                    </div>
                    <div class="col-lg-5 video">
                        <div class="embed-responsive embed-responsive-4by3  rounded">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iD72qswVqXE?autoplay=0" allowfullscreen=""> </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5 text-white footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center align-self-center offset-lg-10">
                        <div class="my-3 row">
                            <div class="col-lg-4">
                                <a class="text-dark" href="https://www.facebook.com/leticia.nakano" target="_blank">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="text-dark" href="https://www.instagram.com/leticia.nakano/?hl=pt-br" target="_blank">
                                    <i class="fa fa-instagram fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="text-dark" href="https://www.youtube.com/channel/UCH_las1svWSsdoSRDHzDx_A" target="_blank">
                                    <i class="fa fa-youtube fa-2x"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>